/* Importing fonts */
@font-face {
    font-family: "Chopsic";
    src: url("../Fonts/Chopsic.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Regular.otf");
}
/* Declaration of variables */
:root {
    --percentage: 100%;
    --pixel: 100px;
    --chopsic: "chopsic";
    --color1: rgb(0, 0, 0);
    --sourceCodePro: "Source Code Pro";
    --color2: rgb(204, 233, 137);
    --color3: rgb(255, 255, 255);
}
/* Body */
* {
    margin: calc(var(--percentage) * 0);
    width: var(--percentage);
    font-size: var(--percentage);
}
/* Header */
header,
header #catalog,
header #utilities,
header #catalog div,
header #utilities div {
    display: flex;
}
header #logo,
header #catalog,
header #utilities,
header #utilities div {
    width: calc(var(--percentage) / 3);
}
header #catalog div {
    width: calc(var(--percentage) / 2);
    justify-content: center;
}
header #logo a {
    font-family: var(--chopsic);
    font-size: calc(var(--percentage) * 2);
    color: var(--color1);
    margin-left: calc(var(--percentage) * 0.02);
    text-decoration: none;
}
header #logo a:hover,
header #catalog div a:hover {
    text-decoration: underline;
}
header #catalog div a {
    font-family: var(--sourceCodePro);
    font-size: calc(var(--percentage) * 1.2);
    text-decoration: none;
    color: var(--color1);
    width: unset;
}
header #utilities div a {
    font-size: calc(var(--percentage) * 2);
    width: unset;
    text-decoration: none;
}
header #utilities div .faUser,
header #utilities div .faCart,
header #utilities div .faSearch {
    color: var(--color1);
}
header #utilities div {
    justify-content: center;
}
header {
    background-color: var(--color2);
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
/* Main */
main #mainItem {
    background-image: url("../Images/Items/mock-hoodie-new_200056db-691b-4ca5-afcf-b3c2163694aa_1024x1024@2x.jpg");
}
main #mainItem div {
    padding-top: calc(var(--percentage) * 1.08);
    display: flex;
    justify-content: center;
}
main #mainItem div div {
    padding: calc(var(--percentage) * 0);
    justify-content: center;
}
main #mainItem div div h1 {
    font-size: calc(var(--percentage) * 2);
    font-family: var(--sourceCodePro);
    font-weight: bold;
    text-align: center;
}
main #mainItem div div a {
    width: unset;
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color3);
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-size: calc(var(--percentage) * 1.4);
    font-family: var(--chopsic);
}
main #mainItem div div a:hover {
    background: none;
    color: var(--color1);
}
