/* Importing fonts */
@font-face {
    font-family: "Chopsic";
    src: url("../Fonts/Chopsic.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Regular.otf");
}
/* Declaration of variables */
:root {
    --percentage: 100%;
    --pixel: 100px;
    --chopsic: "chopsic";
    --color1: rgb(0, 0, 0);
    --sourceCodePro: "Source Code Pro";
    --color2: rgb(204, 233, 137);
    --color3: rgb(255, 255, 255);
    --color4: rgb(25, 130, 25);
    --tablet: 0.729;
    --mobile: 0.531441;
    --color5: rgb(255, 0, 0);
    --color6: rgb(0, 255, 0);
}
/* Body */
* {
    margin: calc(var(--percentage) * 0);
    width: var(--percentage);
    font-size: var(--percentage);
}
/* Header */
header,
header nav,
header nav div {
    display: flex;
}
header #logo,
header nav {
    width: calc(var(--percentage) / 2);
}
header #logo a {
    font-family: var(--chopsic);
    color: var(--color1);
    margin-left: calc(var(--percentage) * 0.02);
    text-decoration: none;
}
header #logo a:hover {
    text-decoration: underline;
}
header nav div a {
    width: unset;
    text-decoration: none;
}
header nav div .faUser,
header nav div .faLogout {
    color: var(--color1);
}
header nav div .faUser:hover,
header nav div .faLogout:hover {
    color: var(--color4);
}
header nav div {
    justify-content: center;
}
header {
    background-color: var(--color2);
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
/* Main */
main {
    background-color: var(--color2);
}
main form {
    width: calc(var(--percentage) * 0.8);
    padding: calc(var(--percentage) * 0) calc(var(--percentage) * 0.1);
}
main form #label {
    font-family: var(--sourceCodePro);
    text-align: center;
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
main form input {
    font-family: var(--sourceCodePro);
    background-color: var(--color2);
    border: none;
    border-bottom: calc(var(--pixel) * 0.01) solid var(--color1);
    margin-bottom: calc(var(--percentage) * 0.01);
}
main form label input {
    display: none;
}
main form label {
    border-bottom: calc(var(--pixel) * 0.01) solid var(--color1);
    margin-bottom: calc(var(--percentage) * 0.01);
    cursor: pointer;
}
main form label .faUpload {
    color: var(--color1);
}
main form label .faUpload:hover {
    color: var(--color4);
}
main form #addButton {
    display: flex;
    justify-content: center;
}
main form #addButton button {
    width: unset;
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    font-family: var(--chopsic);
    color: var(--color2);
    background-color: var(--color1);
    border: none;
    cursor: pointer;
}
main form #addButton button:hover {
    color: var(--color1);
    background-color: var(--color2);
}
main #serverRendering #addForm {
    display: flex;
    justify-content: center;
}
main #serverRendering #addForm h1 {
    font-family: var(--chopsic);
    font-weight: bold;
    width: unset;
}
main #serverRendering #addForm #success {
    color: var(--color6);
}
main #serverRendering #addForm #failure {
    color: var(--color5);
}
main #serverRendering #data {
    display: flex;
    flex-wrap: wrap;
}
main #serverRendering #data .dataItem {
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.01);
}
main #serverRendering #data .dataItem .dataItemData {
    display: flex;
}
main #serverRendering #data .dataItem .dataItemData div {
    width: calc(var(--percentage) / 2);
    display: flex;
    justify-content: center;
}
main #serverRendering #data .dataItem .dataItemData div h1 {
    font-family: var(--sourceCodePro);
    width: unset;
    font-weight: bold;
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--color2);
    font-family: var(--chopsic);
    padding-bottom: calc(var(--percentage) * 0.01);
}
/* Responsiveness for computers */
@media screen and (min-width: 1024px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2);
    }
    header nav div a {
        font-size: calc(var(--percentage) * 2);
    }
    /* Main */
    main form #label {
        font-size: calc(var(--percentage) * 2);
    }
    main form input {
        font-size: var(--percentage);
    }
    main form label {
        font-size: calc(var(--percentage) * 1.1);
    }
    main #serverRendering #addForm h1 {
        font-size: var(--percentage);
    }
    main #serverRendering #data .dataItem {
        width: calc(var(--percentage) * 0.3133);
    }
    main #serverRendering #data .dataItem .dataItemImage img {
        height: auto;
        width: var(--percentage);
    }
    main #serverRendering #data .dataItem .dataItemData div h1 {
        font-size: calc(var(--percentage) * 0.6);
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 0.24); */
        font-size: calc(var(--percentage) * 2);
    }
}
/* Responsiveness for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
    header #catalog div a {
        font-size: calc(var(--percentage) * 1.2 * var(--tablet));
    }
    header #utilities div a {
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
    /* Main */
    main form #label {
        font-size: calc(var(--percentage) * 2 * var(--tabletgit merge));
    }
    main form input {
        font-size: calc(var(--percentage) * var(--tablet));
    }
    main form label {
        font-size: calc(var(--percentage) * 1.1 * var(--tablet));
    }
    main #serverRendering #addForm h1 {
        font-size: calc(var(--percentage) * var(--tablet));
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 0.37); */
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
}
/* Responsiveness for mobiles */
@media screen and (max-width: 767px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
    header #catalog div a {
        font-size: calc(var(--percentage) * 1.2 * var(--mobile));
    }
    header #utilities div a {
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
    /* Main */
    main form #label {
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
    main form input {
        font-size: calc(var(--percentage) * var(--mobile));
    }
    main form label {
        font-size: calc(var(--percentage) * 1.1 * var(--mobile));
    }
    main #serverRendering #addForm h1 {
        font-size: calc(var(--percentage) * var(--mobile));
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 1.11); */
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
}
