/* Importing fonts */
@font-face {
    font-family: "Chopsic";
    src: url("../Fonts/Chopsic.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Regular.otf");
}
/* Declaration of variables */
:root {
    --percentage: 100%;
    --pixel: 100px;
    --chopsic: "chopsic";
    --color1: rgb(0, 0, 0);
    --sourceCodePro: "Source Code Pro";
    --color2: rgb(204, 233, 137);
    --color3: rgb(255, 255, 255);
    --color4: rgb(25, 130, 25);
    --tablet: 0.729;
    --mobile: 0.531441;
    --color5: rgb(255, 0, 0);
    --color6: rgb(0, 255, 0);
}
/* Body */
* {
    margin: calc(var(--percentage) * 0);
    width: var(--percentage);
    font-size: var(--percentage);
}
/* Header */
header,
header nav,
header nav div {
    display: flex;
}
header #logo,
header nav {
    width: calc(var(--percentage) / 2);
}
header #logo a {
    font-family: var(--chopsic);
    color: var(--color1);
    margin-left: calc(var(--percentage) * 0.02);
    text-decoration: none;
}
header #logo a:hover {
    text-decoration: underline;
}
header nav div a {
    width: unset;
    text-decoration: none;
}
header nav div .faUser,
header nav div .faLogout,
header nav div .faCart {
    color: var(--color1);
}
header nav div .faUser:hover,
header nav div .faLogout:hover,
header nav div .faCart:hover {
    color: var(--color4);
}
header nav div {
    justify-content: center;
}
header {
    background-color: var(--color2);
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0);
}
/* Main */
main {
    background-color: var(--color2);
}
main #serverRendering #data {
    display: flex;
    flex-wrap: wrap;
}
main #serverRendering #data form {
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.01);
}
main #serverRendering #data form .dataItemData {
    display: flex;
}
main #serverRendering #data form .dataItemData div {
    width: calc(var(--percentage) / 2);
    display: flex;
    justify-content: center;
}
main #serverRendering #data form .dataItemData div h1,
main #serverRendering #data form .dataItemName {
    font-family: var(--sourceCodePro);
    width: unset;
    font-weight: bold;
}
main #serverRendering #data form .dataItemName {
    text-align: center;
}
main #serverRendering #data form .cartAction {
    display: flex;
}
main #serverRendering #data form .cartAction div input {
    background-color: var(--color2);
    font-family: var(--sourceCodePro);
    font-weight: bold;
    border: none;
    border-bottom: calc(var(--pixel) * (1 / 100)) solid var(--color1);
}
main #serverRendering #data form .cartAction div {
    display: flex;
    justify-content: center;
}
main #serverRendering #data form .cartAction div button {
    font-family: var(--chopsic);
    color: var(--color2);
    background-color: var(--color1);
    padding: calc(var(--percentage) * 0.01) calc(var(--percentage) * 0.02);
    width: unset;
    border: none;
    cursor: pointer;
}
main #serverRendering #data form .cartAction div button:hover {
    color: var(--color1);
    background-color: var(--color2);
}
/* Footer */
footer {
    text-align: center;
    background-color: var(--color2);
    font-family: var(--chopsic);
    padding-bottom: calc(var(--percentage) * 0.01);
}
/* Responsiveness for computers */
@media screen and (min-width: 1024px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2);
    }
    header nav div a {
        font-size: calc(var(--percentage) * 2);
    }
    /* Main */
    main #serverRendering #data form {
        width: calc(var(--percentage) * 0.3133);
    }
    main #serverRendering #data form .dataItem img {
        height: auto;
        width: var(--percentage);
    }
    main #serverRendering #data form .dataItemName {
        font-size: var(--percentage);
    }
    main #serverRendering #data form .cartAction div input {
        font-size: var(--percentage);
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 0.24); */
        font-size: calc(var(--percentage) * 2);
    }
}
/* Responsiveness for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
    header #catalog div a {
        font-size: calc(var(--percentage) * 1.2 * var(--tablet));
    }
    header #utilities div a {
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
    /* Main */
    main #serverRendering #data form {
        width: calc(var(--percentage) * 0.3133);
    }
    main #serverRendering #data form .dataItem img {
        height: auto;
        width: var(--percentage);
    }
    main #serverRendering #data form .dataItemName {
        font-size: calc(var(--percentage) * var(--tablet));
    }
    main #serverRendering #data form .cartAction div input {
        font-size: calc(var(--percentage) * var(--tablet));
    }
    main #serverRendering #data form .dataItemData div h1,
    main #serverRendering #data form .dataItemName,
    main #serverRendering #data form .cartAction div button {
        font-size: calc(var(--percentage) * var(--tablet));
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 0.37); */
        font-size: calc(var(--percentage) * 2 * var(--tablet));
    }
}
/* Responsiveness for mobiles */
@media screen and (max-width: 767px) {
    /* Header */
    header #logo a {
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
    header #catalog div a {
        font-size: calc(var(--percentage) * 1.2 * var(--mobile));
    }
    header #utilities div a {
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
    /* Main */
    main #serverRendering #data form {
        width: calc(var(--percentage) * 0.3133);
    }
    main #serverRendering #data form .dataItem img {
        height: auto;
        width: var(--percentage);
    }
    main #serverRendering #data form .dataItemName {
        font-size: calc(var(--percentage) * var(--mobile));
    }
    main #serverRendering #data form .cartAction div input {
        font-size: calc(var(--percentage) * var(--mobile));
    }
    main #serverRendering #data form .dataItemData div h1,
    main #serverRendering #data form .dataItemName {
        font-size: calc(var(--percentage) * var(--mobile));
    }
    main #serverRendering #data form .cartAction div button {
        font-size: calc(var(--percentage) * var(--mobile) * 0.7);
    }
    /* Footer */
    footer {
        /* padding-top: calc(var(--percentage) * 1.11); */
        font-size: calc(var(--percentage) * 2 * var(--mobile));
    }
}
